local-settings.json
log.txt
test-output.txt
*.pyc
.DS_Store
*.json-e
target/
dependency-reduced-pom.xml
.idea
*.iml
.vscode/
slnx.sqlite
.classpath
.project
.settings
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
tfplan
*.env
